[Desktop Entry]
Version=1.0
Type=Application
Name=Test Game Controllers
Comment=
Exec=wine control joy.cpl
Icon=input-gaming
Path=
Terminal=false
StartupNotify=false
Categories=Game;Emulator