[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=chromium --no-startup-window
Name=Chromium (background)
Comment=
Icon=chromium-browser

